@font-face {
    font-family: "logo";
    src: url(../fonts/FascinateInline-Regular.ttf);
}

@font-face {
    font-family: "regular";
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "bold";
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Pacifico";
    src: url(../fonts/Pacifico-Regular.ttf);
}

@font-face {
    font-family: "Meow Script";
    src: url(../fonts/MeowScript-Regular.ttf);
}

@font-face {
    font-family: "Outfit";
    src: url(../fonts/Outfit-Regular.ttf);
}

@font-face {
    font-family: "Lexend Deca";
    src: url(../fonts/LexendDeca-Regular.ttf);
}

@font-face {
    font-family: "Gabarito";
    src: url(../fonts/Gabarito-Regular.ttf);
}