/* breakpoint p smartphones */
@media screen and (max-width: 600px) /*regra "max-width: 600px"*/ {
  html{
      font-size: 16px;
  }
  body{
      margin: 0;
  }
header {
  padding: 10px 0;
}

header h1 {
  margin: 10px 0;

}

#main {
  flex-direction: column;
}
#menu,
#content {
  width: 100%;
}
#menu {
  padding: 10px 0;
}
#menu span {
  display: none; /*o elemento sobe*/
}

#menu ul {
  display: flex;
  margin: 0;
  justify-content: center; /*flex-direction: row(alinhar horizontalmente: justify-content; alinhar verticalmente: align-itens); */
  gap: 30px; /*lacuna entre os container*/ /*flex-direction: column(alinhar horizontalmente:align-itens; alinhar verticalmente:  justify-content)*/
}
#menu li {
  /* margin-right: 30px; */
}


#menu span {
  display: none;
}

#menu ul {
  display: flex;
  margin: 0;
  justify-content: center;
  gap: 30px; /*distancia entre a lacuna*/
}
#content {
  padding: 15px 10;
  box-sizing: border-box;
}

.movie-card {
  flex-direction: column;
  margin: 70px auto;
  padding: 20px;
  border-radius: 25px;
  gap: 20px;
}
.movie-card img,
.movie-card span {
  width: 100%;
}

.movie-card span {
  padding: 0;
  text-align: center;
}

footer{
  padding: 20px 0;
  text-align: center;
}
}


@media screen and (max-width: 768px) {
  #main{
      flex-direction: column;
  }
  #menu, #content {
      width: 100%;
      box-sizing: border-box;
  }

  #menu{
      padding: 10px 0;
  }
  
  #menu span{
      display: none;
  }
  #menu ul{
      display: flex;
      justify-content: center;
      gap: 100px;
  }
}

@media only screen and (max-width: 900px) {
#quem-somos {
  flex-direction: column;
}
}