@media (max-width: 600px) {
  html {
    font-size: 14px; /* Diminui o tamanho da fonte base */
  }

  header {
    padding: 10px 0; /* Reduz o espaçamento interno */
    min-height: 100px; /* Diminui a altura mínima */
    padding-bottom: 0px;
    grid-template-columns: 1fr; /* Coloca os elementos em uma única coluna */
    text-align: center;
  }

  header h1 {
    font-size: 1.5em; /* Reduz o tamanho da fonte do título */
    margin-bottom: 5px; /* Diminui o espaçamento inferior */
  }

  header h2 {
    font-size: 0.9em; /* Reduz o tamanho da fonte do subtítulo */
    margin-top: 0;
    font-family: "Gabarito";
    text-shadow: 3px 3px 5px black;
  }
  nav {
    padding: 10px 0; /* Reduz o espaçamento superior e inferior do menu */
  height: 160px;
  padding-top: 0;
  }

  nav ul {
    flex-direction: column; /* Organiza os itens do menu em coluna */
    align-items: center; /* Centraliza os itens no menu */
    padding: 0;
    flex-direction: column; /* Navegação em coluna */
  }

  nav ul li {
    margin-bottom: 10px; /* Diminui o espaço entre os itens */
    font-size: 1.2rem; /* Reduz o tamanho da fonte para caber melhor na tela */
      margin-right: 0;
      margin-bottom: 10px;
  }

  nav ul li a {
    padding: 10px 0; /* Diminui o padding para reduzir a altura dos itens */
    font-size: 1.1rem; /* Ajusta o tamanho da fonte para o texto do menu */
  }

  nav ul li a:hover {
    color: #e5cec2; /* Mantém a cor de destaque ao passar o mouse */
  }

  .coluna {
    flex-direction: column; /* Empilha os elementos verticalmente */
    gap: 10px; /* Reduz o espaçamento entre os itens */
  }

  .img-pet img {
    width: 100%; /* A imagem ocupa toda a largura disponível */
    max-width: 300px; /* Limita o tamanho da imagem */
    
  }

  .img-funcionamento {
    width: 150px;
    height: 150px;
  }
  .texto {
    padding: 10px;
    text-align: justify; /* Mantém o texto justificado */
    font-size: 0.9rem; /* Reduz o tamanho do texto */
    max-width: 400px;
  }

  .planos {
    flex-direction: column; /* Empilha os planos verticalmente */
    gap: 20px; /* Reduz o espaçamento entre os planos */
  }

  .planos > div {
    width: 90%; /* Ocupa 90% da largura da tela */
    margin: 0 auto; /* Centraliza os planos */
  }

  .img-desconto img {
    width: 60px; /* Ajusta o tamanho da imagem de desconto */
    height: 60px;
  }

  .price {
    font-size: 16px; /* Ajusta o tamanho do preço */
  }

  .price .discount {
    font-size: 14px; /* Ajusta o tamanho do preço riscado */
  }

  footer {
    padding: 20px 10px;
    font-size: 0.9rem; /* Reduz o tamanho do texto no rodapé */
  }
}
  @media (max-width: 900px) {
  
  
  }